form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkout label {
  margin: 0;
}

input[type="checkbox"] {
  display: flex;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
  color: red;
}

.require-message {
  color: red;
  margin-bottom: 10px;
}
.ng-invalid.ng-touched {
  border-color: red;
}
.ng-valid.ng-touched.ng-dirty {
  border-color: #7a7a7a;
}
