<div class="list-container">
  <h2>List Title</h2>
  <ul *ngIf="listOfUsers !== null">
    <li *ngFor="let item of listOfUsers?.results">
      <p><strong>Title: </strong> {{ item.title }}</p>
      <p><strong>Completed: </strong> {{ item.completed }}</p>
      <p><strong>Created: </strong> At: {{ item.created_at | date }}</p>
      <p><strong>Updated: </strong> At: {{ item.updated_at | date }}</p>
      <p><strong>User: </strong> {{ item.user }}</p>
      <p>
        <button class="btn btn-primary" (click)="editTodo(item.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteTodo(item.id)">Delete</button>
        <button class="btn btn-success" (click)="detailTodo(item.id)">Detail</button>
      </p>
    </li>
  </ul>
</div>
